<md-dialog flex="50" flex-sm="80" flex-xs="90">
    <md-dialog-content class="md-dialog-content">
        <h3>New Item</h3>

        <form name="newTodo" ng-submit="vm.create()">
            <md-input-container class="md-block" flex>
                <label>Todo Title</label>
                <input ng-model="vm.todo.title" name="title" required ng-minlength="3" ng-maxlength="100">
                <div ng-messages="newTodo.title.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your title should be greater than 3 and less than 100 characters.
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Todo Content</label>
                <textarea ng-model="vm.todo.description" name="content" md-maxlength="1000"
                          ng-maxlength="1000" rows="8" required md-select-on-focus></textarea>
                <div ng-messages="newTodo.content.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your todo item should be less than 1000 characters.
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <md-button class="md-primary md-raised" type="submit"
                           ng-disabled="newTodo.content.$invalid || newTodo.title.$invalid">Create Todo
                </md-button>
            </md-input-container>
        </form>
    </md-dialog-content>
</md-dialog>